.menu-list {
    font-size: 16px;
    width: 223px;
    margin-top: 8px;
    button,
    a {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: flex-start;
        line-height: 22px;
        padding: 10px 16px;
        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
    }
}
