.menu-list {
    width: 223px;
    margin-top: 8px;
    cursor: pointer;
    button,
    a {
        font-size: 16px;
        font-weight: 600;
        font-family: 'ProximaNova', sans-serif;

        width: 100%;
        display: flex;
        text-align: center;
        justify-content: flex-start;
        line-height: 20px;
        padding: 10px 16px;
        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
    }
    &.separate {
        border-top: 1px solid rgba(22, 34, 25, 0.12);
    }
}
.language-list {
    overflow: hidden auto;
    height: 100%;
}

//Header

.header {
    position: relative;
    height: 50px;
    max-height: 50px;
    flex-shrink: 0;
    &:hover {
        background-color: white;
    }
}
.back-btn {
    height: 100%;
    display: flex;
    margin-left: 18px;
    padding: 0 10px;
    font-size: 17px;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    line-height: 22px;
}
