.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: var(--default-layout-header-height);
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: white;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    .logo {
        display: flex;
        align-items: center;
    }

    .actions {
        display: flex;
        align-items: center;
        .plus {
            width: 17px;
            height: 17px;
            margin-right: 8px;
            font-weight: 00;
        }
        .upload {
            font-style: normal;
            font-weight: 550;
            font-size: 16px;
            line-height: 24px;
            color: #161823;
        }
    }
    .more-btn {
        font-size: 15px;
        padding: 0 4px;
        display: inline-flex;
        margin-left: 16px;
        cursor: pointer;
        background-color: transparent;
    }

    //current-user

    .action-btn {
        display: block;
        margin-left: 16px;
        cursor: pointer;
        padding: 3px 3px 0;
        position: relative;
        font-size: 2rem;
        color: #161823;
    }
    .user-avt {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-left: 24px;
        background-size: cover;
        cursor: pointer;
    }
    .badge {
        position: absolute;
        top: -3px;
        right: -1px;
        padding: 0px 5px;
        height: 1.8rem;
        line-height: 1.8rem;
        border-radius: 10px;
        font-size: 1.3rem;
        font-weight: 600;
        color: white;
        font-family: 'ProximaNova', sans-serif;
        background-color: var(--primary);
    }
}
